# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3

# Django environment files
.env

# Virtual environment folders
jwt-env/
env/
venv/
env1/

# IDE/editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
